<div class="p-2 bg-light rounded-3 shadow-sm">
  <div class="container">
    <%= form_with(model: friend, local: true) do |form| %>
      <% if friend.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h4>
          <ul>
            <% friend.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-2">
        <%= form.text_field :first_name, class:"form-control", placeholder: "First name" %>
      </div>

      <div class="mb-2">
        <%= form.text_field :last_name, class:"form-control", placeholder: "Last name" %>
      </div>

      <div class="mb-2">
        <%= form.text_field :email, class:"form-control", placeholder: "..@email.com" %>
      </div>

      <div class="mb-2">
        <%= form.text_field :phone, class:"form-control", placeholder: "Phone number" %>
      </div>
       <div class="mb-2">
        <%= form.text_field :user_id, id: :friend_user_id, class:"form-control", value: current_user.id, type: :hidden%>
      </div>

      <div class="mb-2">
        <%= form.text_field :facebook, class:"form-control", placeholder: "Facebook ID" %>
      </div>
      <div>
        <%= form.submit "Save Friend", class:"btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>
